*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* varibales*/
:root{
    --main-color :#35ecff ; 
    --transparent-color : #23242a ;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--transparent-color);
    font-family: Arial, Helvetica, sans-serif;
}
.box{
    background-color: black;
    width: 380px;
    height: 420px;
    position: relative;
    border-radius: 18px;
    overflow: hidden;
}
.box::before {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background: linear-gradient(0deg, transparent , var(--main-color) , var(--main-color));
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background: linear-gradient(0deg, transparent ,var(--main-color) , var(--main-color));
    top: -50%;
    left: -50%;
    animation: animate 6s linear infinite;
    animation-delay: 3s;
    transform-origin: bottom right;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.form {
    padding: 40px;
    position: absolute;
    z-index: 5;
    inset: 2px;
    background-color: var(--transparent-color);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
}
.form h2 {
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
}
.input-box {
    position: relative;
    margin-top: 40px;
    width: 300px;
}
.input-box input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    color: var(--transparent-color);
    outline: none;
    border: none;
    font-size: 1em;
    z-index: 5;
    letter-spacing: 0.05em;
}
.input-box span {
    position: absolute;
    color: #8f8f8f;
    font-size: 1em;
    padding: 20px 0px 10px;
    left: 0;
    pointer-events: none;
    transition: 0.3s;
    letter-spacing: 0.05s;
}
.input-box input:valid ~ span,
.input-box input:focus ~ span{
    color: var(--main-color);
    transform: translateY(-30px);
    font-size: 0.75em;
}
.input-box i {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--main-color);
    border-radius: 4px;
    pointer-events: none;
    transition: 0.5s;
    z-index: 4;
}
.input-box input:valid ~ i ,
.input-box input:focus ~ i {
    height: 44px;
}
.links {
    display: flex;
    justify-content: space-between;
}
.links a {
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.links a:hover,
.links a:nth-child(2) {
    color: var(--main-color);
}
input[type="submit"] {
    border: none;
    outline: none;
    background-color: var(--main-color);
    width: 100px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
    opacity: 0.75;
}
input[type="submit"]:hover {
   opacity: 1;
}